.sidebar {
  width: 50px;
  height: 100vh;
  background: #005475;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--border-color);
  transition: all 0.3s ease;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.themeToggle {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  border-radius: 50%;
  border: none;
  background: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }
}