@import '../../styles/common.scss';


.headerIcon {
    display: flex;
    width: 30px;
}

.secondHeader {
    height: 132px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px 8px 8px 8px;
    background-color: #918c8c71;
    position: sticky;
    opacity: 30%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.goalTextInput {
    height: 400px;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
    border-radius: 8px 8px 8px 8px;
    background-color: #e0dcdc71;
    position: sticky;
    opacity: 30%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.iconBackward {
    display: flex;
    float: right;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
        transform: scale(1.1);
    }
}